<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ruta</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="map"></div>

<div class="map-overlay" id="legend">
    <h2>Cursa</h2>
    <p class="p-legend"><b>24.81 km</b></p>
</div>

 <script src="/js/main.js"></script>
</body>
</html>